doctype html 
html 
    head 
        meta(charset="utf-8")
        link(href="../public/css/style.css")
        title Page d'Accueil 
    body 
        include includes/nav
        h1 page d'Accuil d'Utilisateur


        script (src="/public/js/index.js")
